<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <div class="header">
    <div class="logo"></div>
    <div class="navigation"></div>
        <a href="/" class="navitem" title="blog">blog</a>
        <span class="navdivider"> | </span>
        <a href="/about/" class="navitem" title="about">about</a>
        <span class="navdivider"> | </span>
        <a href="/search/" class="navitem" title="search">search</a>
        <span class="navdivider"> | </span>
        <a href="/activity/" class="navitem" title="search">activity</a>
    </div>
    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>

      {{ content }}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

  {% include footer.html %}
  </body>
</html>
